html {
  display: block;
}

body {
  display: block;
  margin: 0px;
  height: calc(100vh - 50px);
}

.App {
  text-align: center;
  margin-top: 50px;
  height: calc(100vh - 50px)
}

.StyledErrorIcon {
  height: 75px;
  width: 75px;
  color: red;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
